// Header top
.header {
    &__top {
        padding: 38px 0;
        border-bottom: 1px solid #e0e0e0e0;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }
    .logo__link {
        font-size: 0;
    }
    .search-form {
        display: flex;
        align-items: center;
        position: relative;

        &__input {
            max-width: 200px;
            margin-left: 10px;
            padding: 11px 36px 11px 11px;
            border: 1px solid #cccccc;
            border-radius: 2px;
            font-size: 12px;
            font-family: $second-font;
            &:focus {
                border-color: $main-accent-color;
            }
        }
        &__icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        &__submit {
            width: 34px;
            height: 37px;
            padding: 0;
            display: inline-block;
            position: absolute;
            right: 1px;
            background-color: transparent;
            overflow: hidden;
            border: 1px solid #cccccc;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border: none;
            text-indent: -900px;
        }
    }
    .user-menu {
        &__list {
            display: flex;
            align-items: center;
        }
        &__item {
            font-family: $second-font;
            .user-menu__text {
                border-left: 1px solid #e0e0e0;
            }
            &:first-child .user-menu__text {
                border-left: 1px solid transparent;
            }
            &:hover:first-child .user-menu__text {
                border-left: 1px solid transparent;
            }
            &_cart {
                border-radius: 2px;
                position: relative;
                &:hover {
                    .sub-menu-cart {
                        display: block;
                    }
                    .user-menu__icon-cart,
                    .user-menu__link_cart {
                        color: #ffffff;
                        background-color: $main-accent-color;
                    }
                }
            }
        }
        &__link {
            margin-left: 3px;
            padding: 13px 13px 13px 0;
            border-radius: 2px;
            &:hover {
                background-color: $main-accent-color;
                & .user-menu__text {
                    border-left: 1px solid $main-accent-color;
                }
            }
            &_cart {
                position: relative;
                border-left: none;
                padding-left: 13px;
                color: #444444;
                background-color: #f1f3f5;
            }
        }
        &__text {
            padding-left: 13px;
        }
        &__icon-cart {
            color: #000;
        }
        .sub-menu-cart {
            display: none;
            padding: 22px;
            position: absolute;
            left: -240px;
            border: 1px solid #e0e0e0;
            box-shadow: 0 2px 5px rgba(132, 132, 132, 0.35);
            background-color: #fff;
            z-index: 20;
            &__title {
                margin-top: 0;
                font-family: $main-font;
                color: $main-text-color;
                font-size: 13px;
            }
            .product-list {
                padding-bottom: 10px;

                &__item {
                    padding: 11px 0;
                    position: relative;
                    &:not(:last-child) {
                        border-bottom: 1px solid #e0e0e0;
                    }
                }
                .delete-product {
                    position: absolute;
                    right: 0;
                    top: 11px;
                    transition: all ease 0.3s;
                    
                    &:hover {
                        transform: rotate(90deg);
                    }
                    &::after {
                        content: "\f00d";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                    }
                }
                &__link {
                    display: flex;
                    justify-content: space-between;
                }
                &__image {
                    width: 56px;
                    height: 56px;
                    border: 1px solid #e0e0e0;
                }
                &__text {
                    padding: 0 11px;
                }
                &__title {
                    margin: 0 0 10px;
                    font-size: 12px;
                    font-family: $second-font;
                }
                &__amount {
                    font-family: $main-font;
                    font-weight: bold;
                }
            }
            .button-list {
                &__item {
                    display: inline-block;
                }
                &__link {
                    padding: 12px 10px;
                    border-radius: 2px;
                    color: #ffffff;
                    background-color: #444444;
                    &:hover {
                        background-color: $main-accent-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 814px) {
    .header__top {
        justify-content: space-around;
    }
}

// Main menu
.main-menu {
    padding-bottom: 20px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        background-color: #f5f7f9;
    }
    &__item {
        position: relative;
        &:hover .sub-menu {
            display: block;
        }
    }
    &__link {
        padding: 20px;
        font-size: 14px;
        color: #444444;
        text-transform: uppercase;
        &_active {
            color: #ffffff;
            background-color: $main-accent-color;
            opacity: 0.8;
        }
        &:hover {
            color: #444444;
            background-color: #d5e4f1;
        }
    }
    .sub-menu {
        min-width: 215px;
        display: none;
        position: absolute;
        z-index: 10;
        border: 1px solid #e0e0e0;
        top: 56px;
        box-shadow: 0 2px 5px rgba(132, 132, 132, 0.35);
        &__item:not(:last-child) {
            border-bottom: 1px solid #e0e0e0;
        }
        &__link {
            width: 100%;
            padding: 15px 20px;
            font-size: 13px;
            font-weight: 400;
            background-color: #fff;
            &:hover {
                opacity: 1;
                background-color: #f5f7f9;
            }
        }
    }
}

// Slider
.slider {
    &__item {
        min-height: 480px;
        display: flex;
        background: url("../img/slider-bg.png") no-repeat;
        background-size: cover;
    }
    &__image {
        margin: auto;
    }
    &__text {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
    }
    &__description,
    &__title {
        padding: 8px 11px;
        background-color: rgba(#fff, .7);
        display: block;
    }
    &__title {
        margin: 70px 0 18px;
        font-size: 36px;
        font-weight: 400;
        display: inline-table;
    }
    &__description {
        margin: 2px 0;
        display: inline-table;
        font-size: 16px;
    }

    .slick-next,
    .slick-prev {
        font-size: 20px;
        color: #444444;
        width: 42px;
        height: 42px;
        background-color: rgba(255, 255, 255, .85);
        background-position: 15px 50%;
        background-repeat: no-repeat;
        outline: none;
        &:hover {
            background-color: #444444;
            color: #ffffff;
        }
    }
    .slick-next::before,
    .slick-prev::before {
        content: "";
    }
    .slick-prev {
        left: 0;
        z-index: 10;
    }
    .slick-next {
        right: 0;
    }

    .slick-initialized .slick-slide {
        display: flex;
    }
    .slick-dots {
        padding-right: 20px;
        bottom: 20px;
        text-align: right;
    }
    .slick-dots li button {
        border-radius: 100%;
        background-color: rgba(255, 255, 255, .6);
        outline: none;
        &::before {
            font-size: 12px;
            color: #222222;
            opacity: 1;
            outline: none;
        }
    }
    .slick-dots li.slick-active button {
        background-color: rgba(66, 64, 64, .8);

        &::before {
            color: #ffffff;
            opacity: 1;
        }
    }
}

@media (max-width: 716px) {
    .slider {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-top: 0;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}

// Features list
.features {
    &__list {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: calc(100%/3 - 12px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        background-position: 15px 50%;

        background-repeat: no-repeat;
        &_price {
            background-image: url("../img/icon-sale.png");
        }
        &_smells {
            background-image: url("../img/icon-smells.png");
        }
        &_natural {
            background-image: url("../img/icon-natural.png");
        }
    }
    &__title {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        color: #444444;
    }
    &__description {
        margin: 0;
        font-size: 20px;
        font-family: $second-font;
        font-weight: 300;
        color: #2e1d1d;
    }
}

@media (max-width: 420px) {
    .features__item {
        width: 100%;
        padding: 20px 15px 20px 110px;
        margin-bottom: 20px;
        background-position: 15px 50%;
    }
}

@media (min-width: 421px) and (max-width: 669px) {
    .features__item {
        margin-bottom: 20px;
        background-position: 50% 15px;
        padding: 110px 20px 15px;
        text-align: center;
    }
}

@media (min-width: 670px) {
    .features__item {
        padding: 20px 15px 20px 110px;
    }
}

@media (max-width: 799px) {
    .features {
        &__title {
            font-size: 20px;
        }
        &__description {
            font-size: 18px;
        }
    }
}
