.login-popup,
.register-popup {
    width: 250px;
    position: absolute;
    left: -100%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #777777;
    z-index: 1000;
    &__cancel {
        float: right;
    }
    &_active {
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.login-form,
.register-form {
    text-align: center;
    &__confirm-password,
    &__name,
    &__password,
    &__title {
        width: 100%;
    }
    &__title {
        text-align: center;
        font-weight: 400;
    }

    &__confirm-password,
    &__name,
    &__password {
        margin-bottom: 15px;
        padding: 5px;
        font-size: 12px;
        border: 1px solid rgba($main-accent-color, .8);
        border-radius: 3px;
    }
    &__submit {
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 3px;
        border: none;
        background-color: rgba($main-accent-color, .3);
        transition: all 0.3s;
        &:hover {
            background-color: $main-accent-color;
            cursor: pointer;
            color: #ffffff;
        }
    }
}
