.login-popup,
.register-popup {
    width: 250px;
    padding: 15px;
    background-color: #f5f5f5;

}
.login-form,
.register-form {
    text-align: center;
    &__confirm-password,
    &__name,
    &__password,
    &__title {
        display: block;
        max-width: 100%;
    }
    &__title {
        text-align: center;
    }
    &__confirm-password,
    &__name,
    &__password {
        margin-bottom: 15px;
        border: 1px solid #777777;
    }

}
