.search-form {
    display: flex;
    align-items: center;
    position: relative;

    &__input {
        max-width: 200px;
        margin-left: 10px;
        padding: 11px 36px 11px 11px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        font-size: 12px;
        font-family: $second-font;

        &:focus {
            border-color: $main-accent-color;
        }
    }
    &__icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__submit {
        width: 34px;
        height: 37px;
        padding: 0;
        display: inline-block;
        position: absolute;
        right: 1px;
        background-color: transparent;
        overflow: hidden;
        border: 1px solid #cccccc;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: none;
        text-indent: -900px;
    }
}
